html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/*
button{
  position: relative;
}*/

  .img-select-container{
    position: relative;
    height: "1080px";
  }

  .img-select-img{
    position: absolute;
    height: auto;
    width: auto;
    
  }

  canvas {
    
    display: block;
  }


  .img-select-img canvas{
    display: block;
    /*
    vertical-align: middle;*/
  }
  h1{
    display: static;
  }

